/* stylelint-disable */

.widget_bg1 {
    background: #f8c76d !important;
}

.widget_bg2 {
    background: #3f50b5 !important;
}

.widget_bg3 {
    background: #0aa89a !important;
}

.widget_bg4 {
    background: #ff6566 !important;
}

.widget_bg5 {
    background: #2392ec !important;
}

.widget_bg6 {
    background: #54616f !important;
}

#mssg_widget_box,
#mssg_widget_btns,
#mssg_widget_btns a,
#mssg_widget_btns img,
#mssg_widget_btns span,
#mssg_widget_tagline,
#mssg_widget_user,
#mssg_widget_userimage,
#mssg_widget_username,
#mssgme_widget,
#welcome_message,
#welcome_message p,
#widget_circle,
#widget_close,
#widget_popup {
    font-size-adjust: none;
    letter-spacing: normal;
    font-stretch: normal;
    font: normal normal 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align-last: auto;
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    alignment-adjust: auto;
    alignment-baseline: baseline;
    -webkit-animation: none 0 ease 0 1 normal;
    animation: none 0 ease 0 1 normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    azimuth: center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: padding-box;
    baseline-shift: baseline;
    binding: none;
    bleed: 6pt;
    bookmark-label: content();
    bookmark-level: none;
    bookmark-state: open;
    bookmark-target: none;
    border: 0 transparent;
    border-radius: 0;
    bottom: auto;
    box-align: stretch;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    box-direction: normal;
    box-flex: 0;
    box-flex-group: 1;
    box-lines: single;
    box-ordinal-group: 1;
    box-orient: inline-axis;
    box-pack: start;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-column-break-after: auto;
    break-after: auto;
    -webkit-column-break-before: auto;
    break-before: auto;
    -webkit-column-break-inside: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    color-profile: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    -webkit-column-rule: medium medium #1f1f1f;
    -moz-column-rule: medium medium #1f1f1f;
    column-rule: medium medium #1f1f1f;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-columns: auto auto;
    -moz-columns: auto auto;
    columns: auto auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    crop: auto;
    cursor: auto;
    direction: ltr;
    dominant-baseline: auto;
    drop-initial-after-adjust: text-after-edge;
    drop-initial-after-align: baseline;
    drop-initial-before-adjust: text-before-edge;
    drop-initial-before-align: caps-height;
    drop-initial-size: auto;
    drop-initial-value: initial;
    elevation: level;
    empty-cells: show;
    fit: fill;
    fit-position: 0 0;
    float: none;
    float-offset: 0 0;
    grid-columns: none;
    grid-rows: none;
    hanging-punctuation: none;
    height: auto;
    hyphenate-after: auto;
    hyphenate-before: auto;
    hyphenate-character: auto;
    hyphenate-lines: no-limit;
    hyphenate-resource: none;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    icon: auto;
    image-orientation: auto;
    image-rendering: auto;
    image-resolution: normal;
    inline-box-align: last;
    left: auto;
    line-stacking: inline-line-height exclude-ruby consider-shifts;
    list-style: disc;
    margin: 0;
    marks: none;
    marquee-direction: forward;
    marquee-loop: 1;
    marquee-play-count: 1;
    marquee-speed: normal;
    marquee-style: scroll;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    move-to: normal;
    nav-down: auto;
    nav-index: auto;
    nav-left: auto;
    nav-right: auto;
    nav-up: auto;
    opacity: 1;
    orphans: 2;
    outline: 0;
    outline-offset: 0;
    overflow: visible;
    overflow-style: auto;
    padding: 0;
    page: auto;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    page-policy: start;
    -webkit-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    pointer-events: auto;
    position: static;
    presentation-level: 0;
    punctuation-trim: none;
    quotes: none;
    rendering-intent: auto;
    resize: none;
    right: auto;
    rotation: 0;
    rotation-point: 50% 50%;
    ruby-align: auto;
    ruby-overhang: none;
    ruby-position: before;
    ruby-span: none;
    size: auto;
    string-set: none;
    table-layout: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
    transform-style: flat;
    transition: all 0 ease 0;
    unicode-bidi: normal;
    vertical-align: baseline;
    white-space: normal;
    white-space-collapse: collapse;
    widows: 2;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: auto;
    text-align: start;
    -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(enabled=false)';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#widget_circle {
    max-width: 220px;
    overflow: hidden;
    transition: all 0.4s ease-out;
    min-width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16) !important;
    position: fixed;
    bottom: 10px;
    background: #29323c;
    z-index: 9999;
}
#widget_circle.left {
    left: 20px;
}
#widget_circle.right {
    right: 20px;
}
#widget_circle span {
    position: relative;
    top: 20px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    display: block;
    float: left;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

#widget_popup,
#mssg_widget_box {
    /* width: 290px; */
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    padding: 16px 22px 16px 22px;
    position: fixed;
    bottom: 86px;
    transition: all 0.3s ease-out;
    padding-bottom: 0px;
    transform: translate3d(0, 20px, 0);
    opacity: 0;
}

#mssg_widget_box {
    width: 290px;
}

#mssg_widget_box .left {
    left: 20px;
}
#mssg_widget_box .right {
    right: 20px;
}

#widget_popup {
    max-width: 290px;
    min-width: 100px;
    transform: translate3d(0, 0px, 0);
}
#widget_popup.off {
    z-index: -1;
}

#welcome_message {
    float: left;
    width: calc(100% + 34px);
    padding-top: 70px;
    margin-top: -70px;
    margin-left: -16px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    z-index: 9998;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#welcome_message p:nth-child(1) {
    font-family: 'Inter', 'arial', sans-serif;
    font-weight: 500;
    color: #29323c;
    font-size: 13px;
    margin: 0px !important;
}

#welcome_message p:nth-child(2) {
    color: #646b72;
    font-family: 'Inter', 'arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin: 0px !important;
    margin-top: 4px !important;
    margin-bottom: 8px !important;
    white-space: pre-wrap;
}

#welcome_message p:nth-child(3) {
    font-family: 'Inter', 'arial', sans-serif;
    color: #9a9a9a;
    font-size: 12px;
    text-align: right;
    padding-right: 6px;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
}

#welcome_message p:nth-child(3) a {
    text-decoration: none;
    color: #0176ff;
}

#welcome_message p:nth-child(3) a:hover {
    text-decoration: none;
    color: #0960c5;
}

#welcome_message p:nth-child(3) img {
    width: 9px;
    vertical-align: middle;
}

#welcome_message:hover #widget_close {
    opacity: 1;
    transition: opacity 0.4s 0.2s ease;
}

#widget_close {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.3) url(https://mssg.me/static/widget/img/icon_close.svg);
    box-sizing: border-box;
    background-size: 10.5px;
    background-position: 9px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#mssg_widget_box {
    z-index: -1;
    pointer-events: none;
    display: none;
}

#mssg_widget_user {
    margin-top: -60px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    font-family: sans-serif;
}

#mssg_widget_user:before {
    content: ' ';
    position: absolute;
    z-index: -1;
    left: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 47px, 0 47px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 47px, 0 47px);
    border-radius: 90px;
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.88);
}

#mssg_widget_userimage {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    padding: 3px;
    box-sizing: border-box;
}

#mssg_widget_username {
    color: #29323c;
    font-weight: 500;
    font-size: 22px;
    margin-top: 8.5px !important;
    margin-bottom: 0 !important;
    width: 100%;
    float: left;
    text-align: center;
}

#mssg_widget_tagline {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #646b72;
    width: 100%;
    float: left;
    padding-left: 17%;
    padding-right: 17%;
    text-align: center;
    box-sizing: border-box;
    margin: 4px auto 18px !important;
}

#mssg_widget_btns {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    float: left;
    text-align: center;
}

#mssg_widget_btns a:nth-child(3n + 1) {
    margin-left: 0px;
}

#mssg_widget_btns a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin-bottom: 25px;
    width: 59px;
    margin-left: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

#mssg_widget_btns img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#mssg_widget_btns span {
    color: #8f919d;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 11px;
    margin-top: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

#widget_logo {
    position: absolute;
    top: 15px;
    left: 17px !important;
    transition: all 0.3s ease;
    opacity: 1;
    width: 30px;
    height: auto;
}

#widget_circle:hover #widget_logo {
    -webkit-transform-origin: 50% 75%;
    transform-origin: 50% 75%;
    -webkit-animation: 1s hand_wave ease;
    animation: 1s hand_wave ease;
}

@-webkit-keyframes hand_wave {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    75% {
        -webkit-transform: rotate(-17deg);
        transform: rotate(-17deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes hand_wave {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }
    75% {
        -webkit-transform: rotate(-17deg);
        transform: rotate(-17deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#circle_close {
    width: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    transform: rotate(120deg) scale(1.2);
    transition: all 0.3s ease;
}

/* NEW */

#mssg_widget_box {
    width: 375px;
    height: 700px;
    max-height: calc(100% - 105px);
    max-width: calc(100% - 20px);
    overflow: hidden;
}

#mssg_widget_box > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

@media (max-width: 767px) {
    #widget_close {
        opacity: 1;
    }

    #widget_popup.desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    #widget_popup.mobile {
        display: none;
    }
}

#mssg_copyright {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #aaacb0;
    padding-bottom: 20px;
}

#mssg_copyright a {
    text-decoration: none;
    color: #aaacb0;
    transition: all 0.3s ease;
}

#mssg_copyright svg {
    position: relative;
    top: 4px;
    margin-right: 3px;
    margin-left: 3px;
}

#mssg_copyright svg path {
    transition: all 0.3s ease;
}

#mssg_copyright a:hover {
    color: #51b3f7;
}

#mssg_copyright a:hover svg path {
    fill: #51b3f7;
}
